{% extends 'home.html' %}
{% load l10n %}

{% block title %}{{ article.title }}{% endblock %}

{% block description %}{{ article.description }}{% endblock %}

{% block keywords %}, {{ article.keywords }}{% endblock %}

{% block content %}
<section class="s-content s-content--narrow s-content--no-padding-bottom">
    <article class="row format-standard">

        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                {{ article.title }}
            </h1>
            <ul class="s-content__header-meta">
                <li class="date">
                    {% localize on %}
                    {{ article.date|date:"E j, Y" }}
                    {% endlocalize %}
                </li>
                <li class="cat">
                    {% for category in article.categories.all %}
                    <a href="{% url 'articles:category' slug=category.slug %}">{{ category.title }}</a>
                    {% endfor %}
                </li> <br>
                <li class="date">
                    L'auteur: <a href="https://www.instagram.com/vladkomudrich/">{{ article.author }}</a>
                </li>
            </ul>
        </div>
        
        <div class="s-content__media col-full">
            <div class="s-content__post-thumb">
                <img src="{{ article.thumb.url }}" alt="{{ article.altfield }}" title="{{ article.title }}">
            </div>
        </div>

        <div class="col-full s-content__main">
            {{ article.body|safe }}

            <div class="s-content__pagenav">
                <div class="s-content__nav">
                    <div class="s-content__prev">
                        {% if prev_article %}
                        <a href="{% url 'articles:detail' prev_article.slug %}" rel="prev">
                            <strong>Previous article</strong><br>
                            <span>{{ prev_article.title }}</span>
                        </a>
                        {% endif %}
                    </div>
                    <div class="s-content__next">
                        {% if next_article %}
                        <a href="{% url 'articles:detail' next_article.slug %}" rel="next">
                            <strong>Next article</strong>
                            <span>{{ next_article.title }}</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

    </article>

    <div class="comments-wrap">

        <div id="comments" class="row">
            <div class="col-full">
                {% if comments %}
                <a name="comments"></a>
                <h3 class="h2">{{ comments|length }} Comments</h3>

                <ol class="commentlist">
                    {% for comment in comments %}
                    <li class="depth-1 comment">
                        <div class="comment__avatar">
                        </div>
                        <div class="comment__content">
                            <div class="comment__info">
                                <cite>{{ comment.author_name }}</cite>

                                <div class="comment__meta">
                                    <time class="comment__time">{{ comment.human_date }}</time>
                                </div>
                            </div>
                            <div class="comment__text">
                                <p>{{ comment.comment_text }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ol>
                {% endif %}

                <div class="respond">
                    <a name="form"></a>
                    <h3 class="h2">Ajoutez un commentaire</h3>
                    <form name="contactForm" id="contactForm" method="post" action="#" novalidate>
                        {% csrf_token %}
                        <fieldset>
                            {{ form.as_p }}
                            <button type="submit" class="submit btn--primary btn--large full-width">Envoyer</button>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    (function () {
    {% if form.is_valid %}
    setTimeout(function () {
        window.location.hash = 'comments'
    })
    {% endif %}
    })()
</script>
{% endblock %}
